# for else

* Else block will be executed only if the loop isn't terminated by a break statement.

In [5]:
for ele in range(10):
    if ele ==7:
        break
    print(ele)
else:
    print("Execution completed")

0
1
2
3
4
5
6

# while else

while else statement is a combination of a while loop with an else block. The while loop executes a block of code as long as its given condition remains true. Once the condition becomes false, the loop stops, and the else block is executed.

In [6]:
n=0
while n in range(10):
    print(n)
    n+=1
else:
    print('zz')

0
1
2
3
4
5
6
7
8
9
zz

# List Comprehensions

* In this method, we create a new list by manipulating the values of an existing list

syntax: list=[expression for i in list if condition]

In [1]:
s=[x for x in range(1,11)]
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
s=[x*2 for x in range(1,11)]
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
x=[2*ele for ele in range(0,11) if ele%2 ==0]
x

[0, 4, 8, 12, 16, 20]

# set comprehensions

* We can take a similar approach as above and create new set from existing set or list
* set comprehensions use curly brackets { }

syntax:newSet= { expression for element in  iterable  if condition }

In [10]:
s={x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

In [9]:
s={2**x for x in range(2,10,2)}
print(s)

{16, 256, 64, 4}

# Dict comprehensions:

* Similar to the above we can take in a list and create a dictionary from it.

In [11]:
{key:value for key,value in zip([1,11,22],['a','b','c'])}

{1: 'a', 11: 'b', 22: 'c'}

In [12]:
a= input('Give a string:')
x={key:value for key, value in enumerate(a)}
print(x)

Give a string:pavan
{0: 'p', 1: 'a', 2: 'v', 3: 'a', 4: 'n'}

# zip()

* The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
* If the passed iterables have different lengths, the iterable with the least items decides the length of the new iterator.

In [15]:
a,b=[1,2,3],[11,22,33]
zip(a,b)

In [16]:
list(zip(a,b))

[(1, 11), (2, 22), (3, 33)]

In [17]:
for ele in zip([1,2,3,4],[11,22,33]):
    print(ele)

(1, 11)
(2, 22)
(3, 33)

# enumerate

* The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

* The enumerate() function adds a counter as the key of the enumerate object.

syntax:enumerate(iterable, start)<br>
    iterable -->An iterable object<br>
start--->A Number. Defining the start number of the enumerate object. Default 0

In [18]:
x='pavan kumar'

for ind,val in enumerate(x):
    print(ind,val)

0 p
1 a
2 v
3 a
4 n
5
6 k
7 u
8 m
9 a
10 r